@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
	scroll-behavior: smooth;
}

/* NAVBAR */
body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	height: 200vh;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	right: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252a;
	width: 100%;
	z-index: 2;
}

header.active {
	background-color: #afc8ad;
	color: #000;
}

header.active nav ul li a {
	color: #000;
}

.nav-link li a {
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 17px 100px;
	width: 100%;
}

.nav-link {
	list-style: none;
}

.nav-link li {
	display: inline-block;
	padding: 0 20px;
}

.nav-link li a {
	transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
	color: #0088a9;
}

.nav-link li a:active {
	color: #006882;
}

.search {
	position: relative;
	height: 50px;
}

.search .search-input {
	background-color: #fff;
	border: 0;
	font-size: 16px;
	padding: 15px;
	height: 20px;
	width: 20px;
	transition: width 0.3s ease;
}

.search-btn {
	background-color: #fff;
	cursor: pointer;
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
}

.search-btn:focus,
input:focus {
	outline: none;
}

.search.active .search-input {
	width: 200px;
}
.search.active .search-btn {
	transform: translateX(-53px);
}

/* GALLERY */

#art {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-position: center center;
	background-size: cover;
	transition: 0.4s;
	cursor: pointer;
}

#art::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: -1;
}

.slider-container {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	height: 70vh;
	width: 70vw;
	position: relative;
	overflow: hidden;
}

.slide {
	opacity: 0;
	height: 100vh;
	width: 100vw;
	background-position: center center;
	background-size: cover;
	position: absolute;
	top: -15vh;
	left: -15vw;
	transition: 0.4s ease;
	z-index: 1;
}

.slide.active {
	opacity: 1;
}

.arrow {
	position: fixed;
	background-color: transparent;
	color: #fff;
	padding: 20px;
	font-size: 30px;
	border: 2px solid orange;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.arrow:focus {
	outline: 0;
}

.left-arrow {
	left: calc(15vw - 65px);
}

.right-arrow {
	right: calc(15vw - 65px);
}

/* LIKE */
.like-h3 {
	margin-top: 40px;
	text-align: center;
	color: #fff;
}

.like-text {
	display: block;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
	color: #fff;
}

.fa-heart {
	color: red;
}

.loveme .fa-heart {
	position: absolute;
	animation: grow 0.6s linear;
	transform: translate(-50%, -50%) scale(0);
	z-index: 1;
}

@keyframes grow {
	to {
		transform: translate(-50%, -50%) scale(10);
		opacity: 0;
		z-index: 1;
		position: relative;
	}
}
